@page "/"

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Tech
                <span class="text-primary">Girls</span>
            </h1>
            <div class="subheading mb-5">
                BSIT 601
            </div>
            <p class="lead mb-5">Tagline</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience" style="background:url('assets/img/cin.jpg'); background-size: cover; background-position:center; background-repeat: no-repeat;">
        <div class="resume-section-content">
                      
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education" style="background:url('assets/img/kuromi.jpg'); background-size: cover; background-position:center; background-repeat: no-repeat;">
        <div class="resume-section-content">
          
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills" style="background:url('assets/img/hkitty.jpg'); background-size: cover; background-position:center; background-repeat: no-repeat;">
        <div class="resume-section-content">
            
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="interests" style="background:url('assets/img/chacco.jpg'); background-size: cover; background-position:center; background-repeat: no-repeat;">
        <div class="resume-section-content">
            
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards" style="background:url('assets/img/pompom.jpg'); background-size: cover; background-position:center; background-repeat: no-repeat;">
        <div class="resume-section-content">
           
        </div>
    </section>
</div>